body{
  background-color: lightgray(245,200,239);
  font-family:'Apple Chancery', cursive, monospace;
  max-width: 900px;
  margin: auto;
}

.photo{
  border: 1px;
  border-radius: 50%;
}
.title, .subtitle, .post_title{
  color: black;
}

.title{
  font-size: 40px;
  text-transform: uppercase;
}

a{
  text-decoration: line-through;
  color: #505050;
}

.post_title{
  font-size: 16px;
  font-style: italic;
  margin: 0;
  margin-top: 15px;
}

.post{
  background-color: #fff;
  padding: 15px;
  border: 3px solid black (228,12,252);
  margin-bottom: 15px;
  border-radius: 10%;
}

.post_content{
  margin: 0;
  margin-bottom: 15px;
  text-transform: capitalize;
  text-align: justify;
}
.post.post_image{
  margin-bottom: 15px;
  width: 100%;
}
